.WeatherForecast {
  text-align: center;
  font-size: 11px;
  margin-top: 20px;
  color: rgb(135, 135, 135);
  font-weight: 400;
  font-size: 14px;
}

.WeatherForecast canvas {
  display: block;
  width: 40px;
  text-align: center;
  opacity: 1;
  margin: 5px auto;
}
